*{
    background-color: beige;
    color: orangered;
    font-family: 'Gill Sans';
    margin: 0px;
    padding: 0px;
}


.paragraph {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

p,li,ol,ul{
    
    font-weight: 600;
}

img {
    padding: 0px;
    border: 5px solid rgb(234, 137, 137);
    margin: auto;
    display:block ;
}


h1 {
    font-size: 30px ;
    text-align: center;
}

p{

    font-size: 25px;
}

ul,ol {
    font-family: 'Gill Sans';
    font-size: 25px;
    color: orangered;

}

li {
    font-size: 18px;
   }

span{

    font-family: 'gill sans';
    font-size: large;
    font-weight: 700;
    margin: 0;
}

nav {
display: flex;
flex-direction: column;
justify-content: space-around;
border: 2px dotted orange;
width: 300px;

}

nav li a {

    list-style-type:none;
    padding: 0px;
    text-decoration: none;

}




nav a:hover{
    background-color: lightgoldenrodyellow;
    border-radius: 4px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin:0 ;
    width: 300px;

}

.ingredients {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dotted rgb(128, 128, 29);
    align-items: center;
    padding: 50px;
    margin: 0px;
    gap: 1rem
    width: 400px;

}

.steps {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px dotted purplergb(128, 128, 29);
    padding: 50px;
    margin: 0px;
    width: ;
    font-display:initial;
    gap: 1rem
}

